EXERCISE-1

In [ ]:
import pandas as pd
data=pd.read_csv('/content/data.csv')
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
#Display the number of rows in the dataset
rows=len(data)
print("Number of rows: ",rows)
#Display the dimension of the  dataset
dim=data.shape
print("Dimension: ",dim)

Number of rows:  169
Dimension:  (169, 4)

In [ ]:
print(data)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [ ]:
print(data.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
print("The first five rows of the dataset: ")
data.head()#by default print the five rows

The first five rows of the dataset:

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [ ]:
print("The first 10 rows of the dataset: ")
data.head(10)#by default print the five rows

The first 10 rows of the dataset:

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [ ]:
print("The last five rows of the dataset: ")
data.tail()#by default print the last five rows

The last five rows of the dataset:

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
print("The last 10 rows of the dataset: ")
data.tail(10)#by default print the five rows

The last 10 rows of the dataset:

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [ ]:
data.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [ ]:
data['id']="h"
print(data)
print(data.info())

     Duration  Pulse  Maxpulse  Calories id
0          60    110       130     409.1  h
1          60    117       145     479.0  h
2          60    103       135     340.0  h
3          45    109       175     282.4  h
4          45    117       148     406.0  h
..        ...    ...       ...       ... ..
164        60    105       140     290.8  h
165        60    110       145     300.0  h
166        60    115       145     310.2  h
167        75    120       150     320.4  h
168        75    125       150     330.4  h

[169 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
 4   id        169 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 6.7+ KB
None

In [ ]:
data.describe(include=object)

         id
count   169
unique    1
top       h
freq    169

In [ ]:
print("Frequecy of each value in the Duration column\n")
data["Duration"].value_counts()

Frequecy of each value in the Duration column

60     79
45     35
30     16
20      9
90      8
150     4
180     3
120     3
210     2
160     2
15      2
75      2
80      1
300     1
270     1
25      1
Name: Duration, dtype: int64

In [ ]:
print("Frequency of each value in the maxpulse column\n")
data["Maxpulse"].value_counts()

Frequency of each value in the maxpulse column

120    16
130     9
127     9
136     8
124     7
131     6
132     5
151     5
129     5
138     4
137     4
125     4
146     4
112     4
128     4
134     4
150     4
135     4
100     3
126     3
141     3
140     3
122     3
145     3
139     3
170     2
107     2
169     2
143     2
168     2
153     2
175     2
119     2
123     2
133     2
113     1
147     1
149     1
162     1
156     1
184     1
108     1
110     1
148     1
171     1
103     1
121     1
157     1
182     1
101     1
118     1
115     1
160     1
152     1
172     1
144     1
167     1
Name: Maxpulse, dtype: int64

In [ ]:
print(data["Calories"])

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

In [ ]:
nf=data[data["Calories"]>data["Calories"].mean()]
print(nf.to_string())
nf.shape

     Duration  Pulse  Maxpulse  Calories id
0          60    110       130     409.1  h
1          60    117       145     479.0  h
4          45    117       148     406.0  h
13         60    104       132     379.3  h
29         60    102       129     380.3  h
35         60    114       140     415.0  h
43         60    111       138     400.0  h
44         60    111       131     397.0  h
46         60    109       153     387.6  h
49         60    111       139     397.6  h
50         60    107       136     380.2  h
51         80    123       146     643.1  h
53         60    118       151     486.0  h
55         60    121       146     450.7  h
56         60    118       121     413.0  h
60        210    108       160    1376.0  h
61        160    110       137    1034.4  h
62        160    109       135     853.0  h
65        180     90       130     800.4  h
66        150    105       135     873.4  h
67        150    107       130     816.0  h
69        300    108       143    1500.2  h
70        150     97       129    1115.0  h
71         60    109       153     387.6  h
72         90    100       127     700.0  h
73        150     97       127     953.2  h
75         90     98       125     563.2  h
78        120    100       130     500.4  h
79        270    100       131    1729.0  h
83        120    100       130     500.0  h
87        120    100       157    1000.1  h
90        180    101       127     600.1  h
99         90     93       124     604.1  h
101        90     90       110     500.0  h
102        90     90       100     500.0  h
103        90     90       100     500.4  h
106       180     90       120     800.3  h
108        90     90       120     500.3  h
109       210    137       184    1860.4  h
116        60    116       141     443.0  h
127        60    109       127     382.0  h
128        90     99       125     466.4  h
129        60    114       151     384.0  h
140        60    108       135     390.0  h
144        60    136       170     470.2  h
146        60    107       136     400.0  h
149        60    110       150     409.4  h
158        60    114       150     382.8  h

(48, 5)

In [ ]:
new_data=data.dropna()
print(new_data)
print(new_data.info())

     Duration  Pulse  Maxpulse  Calories id
0          60    110       130     409.1  h
1          60    117       145     479.0  h
2          60    103       135     340.0  h
3          45    109       175     282.4  h
4          45    117       148     406.0  h
..        ...    ...       ...       ... ..
164        60    105       140     290.8  h
165        60    110       145     300.0  h
166        60    115       145     310.2  h
167        75    120       150     320.4  h
168        75    125       150     330.4  h

[164 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
 4   id        164 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 7.7+ KB
None

In [ ]:
data=pd.read_csv('/content/data.csv')
data.fillna(250, inplace = True)
print(data.info())
print(data.to_string())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112     250.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132     250.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137     250.0
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125     250.0
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127     250.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
data=pd.read_csv('/content/data.csv')
data['Calories'].fillna(130, inplace=True)
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [ ]:
x=data['Calories'].mean()
data['Calories'].fillna(x,inplace=True)

In [ ]:
print(data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 169, dtype: bool

In [ ]:
data.drop_duplicates(inplace=True)
print(data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 162, dtype: bool

1.

In [ ]:
import numpy as np
import pandas as pd
arr=np.array(['a','f','t','j','u'])
x=pd.Series(arr)
print(x)

0    a
1    f
2    t
3    j
4    u
dtype: object

In [ ]:
dict={'name':'Dheepthi','age':'19','jfjfj':'fd'}
x=pd.Series(dict)
print(x)

name     Dheepthi
age            19
jfjfj          fd
dtype: object

In [ ]:
list=[1,2,3,4,5]
x=pd.Series(list)
print(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

2.

In [ ]:
import numpy as np
import pandas as pd
list=pd.Series([1,2,3,4,5])
df = list.to_frame().reset_index()
df
df.rename(columns={'index':'new'})

   new  0
0    0  1
1    1  2
2    2  3
3    3  4
4    4  5

3.

In [34]:
name=pd.Series(['A','B','C','D'])
s=pd.Series([1,2,3,4])
s1=pd.Series([5,6,7,8])
dict={'Name':name,'s1':s1,'s':s}
df=pd.concat(dict,axis=1)
df

  Name  s1  s
0    A   5  1
1    B   6  2
2    C   7  3
3    D   8  4

4.

In [ ]:
s=pd.Series([1,2,3,4])
s1=pd.Series([4,5,2,6])
r=s[~s.isin(s1)]
r

0    1
2    3
dtype: int64

5.

In [ ]:
s=pd.Series([1,2,3,4])
s1=pd.Series([4,5,2,6])
pd['s','s1'].unique()

TypeError: ignored

7.

In [ ]:
s1=pd.Series([1,2,3,5,6,7,8,10])
s1.describe()

count     8.000000
mean      5.250000
std       3.105295
min       1.000000
25%       2.750000
50%       5.500000
75%       7.250000
max      10.000000
dtype: float64

In [ ]:
#8
s1.value_counts()

1     1
2     1
3     1
5     1
6     1
7     1
8     1
10    1
dtype: int64

In [ ]:
#9

series=pd.Series([2,3,4,5,6,2,4,5])
print(series)

print("Top 2 Freq:",series.value_counts())
res=series[~series.isin(series.value_counts().index[:1])] = "Other"
print(series)

0    2
1    3
2    4
3    5
4    6
5    2
6    4
7    5
dtype: int64
Top 2 Freq: 2    2
4    2
5    2
3    1
6    1
dtype: int64
0        2
1    Other
2    Other
3    Other
4    Other
5        2
6    Other
7    Other
dtype: object

In [ ]:
#10
ar=pd.Series([4,10,55,22,44,11,33,65,234,54,23,643,3,21,453,643,32,37,48,92,19,33,87,23,12,44])
pd.qcut(ar,q=10)

0      (2.999, 10.5]
1      (2.999, 10.5]
2       (54.5, 87.0]
3       (19.0, 22.5]
4       (35.0, 44.0]
5       (10.5, 19.0]
6       (32.0, 35.0]
7       (54.5, 87.0]
8      (87.0, 343.5]
9       (44.0, 54.5]
10      (22.5, 32.0]
11    (343.5, 643.0]
12     (2.999, 10.5]
13      (19.0, 22.5]
14    (343.5, 643.0]
15    (343.5, 643.0]
16      (22.5, 32.0]
17      (35.0, 44.0]
18      (44.0, 54.5]
19     (87.0, 343.5]
20      (10.5, 19.0]
21      (32.0, 35.0]
22      (54.5, 87.0]
23      (22.5, 32.0]
24      (10.5, 19.0]
25      (35.0, 44.0]
dtype: category
Categories (10, interval[float64, right]): [(2.999, 10.5] < (10.5, 19.0] < (19.0, 22.5] <
                                            (22.5, 32.0] ... (44.0, 54.5] < (54.5, 87.0] <
                                            (87.0, 343.5] < (343.5, 643.0]]

In [ ]:
#11
n_s = pd.Series(np.random.randint(1, 25, 15))
print("Original Series")
print(n_s)

res = np.where(n_s % 3==0)
print("numbers that are multiples of 3")
print(res)

Original Series
0      9
1      9
2     17
3      5
4      5
5      9
6     19
7     16
8      1
9     12
10     3
11    11
12    14
13     3
14     5
dtype: int64
numbers that are multiples of 3
(array([ 0,  1,  5,  9, 10, 13]),)

In [ ]:
#12

ar[ar%3==0]

6      33
8     234
9      54
12      3
13     21
14    453
18     48
21     33
22     87
24     12
dtype: int64

In [ ]:
# 13

num = pd.Series(list('12795656326542012931783423013924'))
ele = [0, 3, 14, 26]
print("Original Series")
print(num)
res= num.take(ele)
print("Extract items at given positions")
print(res)

Original Series
0     1
1     2
2     7
3     9
4     5
5     6
6     5
7     6
8     3
9     2
10    6
11    5
12    4
13    2
14    0
15    1
16    2
17    9
18    3
19    1
20    7
21    8
22    3
23    4
24    2
25    3
26    0
27    1
28    3
29    9
30    2
31    4
dtype: object
Extract items at given positions
0     1
3     9
14    0
26    0
dtype: object

In [ ]:
#14
s1 = pd.Series(['a','c','l','m','r'])
print("S1:")
print(s1)
s2 = pd.Series([5,4,3,2,1])
print("S2:")
print(s2)

df = pd.concat([s1, s2], axis = 1)
print("Stacks")
display(df)

S1:
0    a
1    c
2    l
3    m
4    r
dtype: object
S2:
0    5
1    4
2    3
3    2
4    1
dtype: int64
Stacks

   0  1
0  a  5
1  c  4
2  l  3
3  m  2
4  r  1

In [ ]:
#15

s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
s2 = pd.Series([2,3,5,7,10])
print("Original Series")
print(s1)
print(s2)
res = [pd.Index(s1).get_loc(i) for i in s2]
print("Pos - items of series2 in series1")
print(res)

Original Series
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     2
1     3
2     5
3     7
4    10
dtype: int64
Pos - items of series2 in series1
[1, 2, 4, 6, 9]

16

In [ ]:
import pandas as pd
import numpy as np
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred)**2)

0.34041665425560286

17

In [ ]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

18

In [ ]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

19

In [ ]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

20

In [ ]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

21

In [ ]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

print("Date: ", ser_ts.dt.day.tolist())

print("Week number: ", ser_ts.dt.weekofyear.tolist())

print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

22

In [ ]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

from dateutil.parser import parse

ser.map(lambda x: parse('04 ' + x))

23

In [ ]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

24

In [ ]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

import re

pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

25

In [ ]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

weights.groupby(fruit).mean()

banana    5.4
carrot    5.6
dtype: float64

26

In [ ]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

sum((p - q)**2)**.5

np.linalg.norm(p-q)

18.16590212458495

27

In [ ]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

dd = np.diff(np.sign(np.diff(ser)))
ps = np.where(dd == -2)[0] + 1
ps

array([1, 5, 7])

28

In [ ]:
my_str = 'dbc deb abed gade'

ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

d    4
b    3
     3
e    3
a    2
c    1
g    1
dtype: int64

'dbcgdebgabedggade'

29

In [ ]:
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    6
2000-01-08    2
2000-01-15    3
2000-01-22    6
2000-01-29    3
2000-02-05    9
2000-02-12    3
2000-02-19    7
2000-02-26    1
2000-03-04    5
Freq: W-SAT, dtype: int64

30

In [ ]:
ser = pd.Series([1,10,3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

ser.resample('D').ffill()  

ser.resample('D').bfill()
ser.resample('D').bfill().ffill()

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

In [ ]:
#Q30

ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

In [ ]:
#31
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

In [ ]:
#32
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])

In [ ]:
#33
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head())

In [ ]:
#34
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#  number of rows and columns
print(df.shape)

# datatypes
print(df.dtypes)

# how many columns under each dtype
print(df.get_dtype_counts())
print(df.dtypes.value_counts())

# summary statistics
df_stats = df.describe()

# numpy array 
df_arr = df.values

# list
df_list = df.values.tolist()

In [ ]:
#35
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))

# Get the value
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

# Alternates
df.at[row[0], 'Price']
df.get_value(row[0], 'Price')

# The difference between `iat` - `iloc` vs `at` - `loc` is:
# `iat` snd `iloc` accepts row and column numbers. 
# Whereas `at` and `loc` accepts index and column names.

In [ ]:
#36
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.columns)
#> Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
#>        'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
#>        'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
#>        'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
#>        'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
#>        'Make'],
#>       dtype='object')

In [ ]:
#37
# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution
type(df[['a']])
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

# Alternately the following returns a Series
type(df.a)
type(df['a'])
type(df.loc[:, 'a'])
type(df.iloc[:, 1])

In [ ]:
#38
# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution Q1
df[list('cbade')]

# Solution Q2 - No hard coding
def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

df1 = switch_columns(df, 'a', 'c')

# Solution Q3
df[sorted(df.columns)]
# or
df.sort_index(axis=1, ascending=False, inplace=True)

In [ ]:
#39
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
# df

# Show all available options
# pd.describe_option()

In [ ]:
#40
# Input
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

# Solution 1: Rounding
df.round(4)

# Solution 2: Use apply to change format
df.apply(lambda x: '%.4f' % x, axis=1)
# or
df.applymap(lambda x: '%.4f' % x)

# Solution 3: Use set_option
pd.set_option('display.float_format', lambda x: '%.4f' % x)

# Solution 4: Assign display.float_format
pd.options.display.float_format = '{:.4f}'.format
print(df)

# Reset/undo float formatting
pd.options.display.float_format = None

In [ ]:
#41

# Input
df = pd.DataFrame(np.random.random(4), columns=['random'])

# Solution
out = df.style.format({
    'random': '{0:.2%}'.format,
})

out

In [ ]:
#42
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

In [ ]:
#43
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

# Solution
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)

In [ ]:
#44
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

# Solution
n = 5
df['a'].argsort()[::-1][n]

In [ ]:
#45
# Input
ser = pd.Series(np.random.randint(1, 100, 15))

# Solution
print('ser: ', ser.tolist(), 'mean: ', round(ser.mean()))
np.argwhere(ser > ser.mean())[1]

In [ ]:
#46
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [ ]:
#47
import pandas as pd
import numpy as np
from numpy import random
ser = pd.Series(np.logspace(-2, 2, 30))

In [ ]:
#48
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [ ]:
#49
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [ ]:
#50
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [ ]:
#51
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

In [ ]:
#52
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df

    p   q   r   s
a  62  11   8  56
b  60  24  97   3
c  95  81  23  45
d  48  75  43  99
e   9  70  67  17
f   9  14  21  26
g  90  51  88  52
h  65  84  18  17
i  53  40  69  55
j  20   5  84  54

In [ ]:
#53
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [ ]:
#54
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df

    0   1   2   3   4   5   6   7   8   9
0   5  99  85  54  14  99  60   3  98  36
1  22  21  33  52  92  41  71  16  92  99
2   8   9  49  30  76  26  74  66  79  53
3  59  52  61  44  91  35  79  56  98  56
4  50  73   8  32  45  83  42  40  99  93
5  75  91   9   9  87  26  14   9  99  27
6  55  66  32  94  75  79  25  75  76  20
7  80  54  57  91  85  35  25  99   2  75
8  18  67  80  12  88  23  63  92  40  74
9  46  92  73  39  46  40  61  31  88  25

In [ ]:
#55
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])
df_grouped.get_group('apple')
for i, dff in df_grouped:
    if i == 'apple':
        print(dff)

    col1      col2  col3
0  apple  0.346222     4
3  apple  0.805763     9
6  apple  0.486742    14

In [ ]:
#56
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

In [ ]:
#57
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

In [ ]:
#58
import pandas as pd
import numpy as np
from numpy import random
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

In [ ]:
#59
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})
np.where(df.fruit1 == df.fruit2)

(array([5, 9]),)

In [ ]:
#60
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [ ]:
#61
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])